*{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#content{
    width: 80%;
    margin: 0 auto;
}

h1{
    text-align: center;
}

#timer{
    font-size: 24px;
    font-weight: bold;
}

select{
    height: 35px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 16px;
}

.btn{
    border: none;
    padding: 8px 14px;
    background-color: #198754;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin-top: 10px;
    font-size: 16px;
}

.btn:disabled {
    opacity: 80%;
}


.full{
    width: 100%;
}

.close{
    background-color: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
}

.material-symbols-outlined{
    background-color: white;
}

.card{
    width: 9%;
    margin: 5px 10px;
}
.card-hold, .panel-card{
    display: inline-block;
    margin: 5px 10px;
    width: 9%;
    position: relative;
    cursor: pointer;
    text-align: center;
}

.card-hold img, .panel-card img{
    width: 100%;
}

.hide{
    display: none;
}


.panel-card{
    margin: 5px;
    border: none;
    background: none;
}

.card-hold span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#panel, #popup, #info{
    margin: 0;
    width: 80%;
    position: fixed;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
    z-index: 100;
}

#popup{
    max-width: 300px;
}

#info{
    max-width: 500px;
}


select{
    width: 100%;
    margin-top: 5px;
}

.close{
    position: absolute;
    right: -10px;
    top: -10px;
    background-color: none;
    padding: 0;
}

#options{
    display: flex;
}

.option{
    width: 50%;
    display: inline;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.select-option{
    background-color: #bdb3db;
}

#panel-content,#popup-content,#info-content{
    max-height: 70vh;
    padding: 15px;
    max-width: 80vw;
    margin: 0 auto;
    overflow-y: auto;
}

.disabled{
    opacity: 50%;
}

.wrong{
    border: 2px solid red;
    border-radius: 10px;
}

.correct{
    border: 2px solid green;
    border-radius: 10px;
}

@media only screen and (max-width: 500px) {
    .card, .card-hold, .panel-card{
        width: 16%;
    }

    h1{
        font-size: 24px;
    }
}